version: '3.7'
services:
  itsjeffrocom_web:
    image: itsjeff/dev-php:latest
    container_name: itsjeffrocom_web
    volumes:
      - .:/var/www/html
      - ./environment/nginx/default:/etc/nginx/sites-enabled/default
    env_file:
      - .docker.env
    links:
      - itsjeffrocom_db
    labels:
      - traefik.enable=true
      - traefik.http.routers.itsjeffrocom_web.rule=Host(`local.itsjeffro.com`)
    networks:
      - itsjeffro-network
      - traefik-network

  itsjeffrocom_db:
    image: mysql:5.7
    container_name: itsjeffrocom_db
    command: "--default-authentication-plugin=mysql_native_password --innodb-use-native-aio=0"
    volumes:
      - ./environment/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: changeme
    ports:
      - "3306"
    networks:
      - itsjeffro-network

networks:
  itsjeffro-network:
    name: itsjeffro-network
    driver: bridge
  traefik-network:
    external:
      name: traefik-network